*{
   margin: 0%;
   padding: 0%;
}


.cabeçalho{
    background-color: rgb(188, 145, 223);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 17%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola{
    background-image: linear-gradient(rgb(147, 32, 241));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}